{% extends "dashboard/em_dashboard/em_base.html" %} 
{% block title %}Change Password {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
<section class="container-dashboard space-y-[16px]">
    <div class="form w-full  bg-white p-6 rounded-lg shadow-md">
        <form action="" method="" >
            <h2 class="primary-heading py-6">Change Password </h2>
            <!-- Name -->
            <div class="flex flex-wrap justify-between gap-4">
                <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                    <label class="body-bold-text block py-2"> Enter Your Old Password</label>
                    <input type="password" placeholder="Enter Your Old Password" class="input" />
                </div>


                <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                    <label class="body-bold-text block py-2"> Enter New Password</label>
                    <input type="password" placeholder="Enter New Password" class="input" />
                </div>

                <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                    <label class="body-bold-text block py-2">Confirm New Password</label>
                    <input type="email" placeholder="Confirm New Password Email" class="input" />
                </div>

                

            <!-- Button -->
            <div class="p-0 mt-4">
                <button type="submit" class="btn btn-primary px-4">
                    Update Password
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}