{% extends "dashboard/hr_dashboard/hr_base.html" %} 
{% block title %}Leave Applications {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}

<section class="container-dashboard space-y-[16px]">
    <!-- top-cards section start  -->
    <div class="crads flex flex-wrap justify-start gap-4 ">
        <div class="card-item p-6 w-full md:w-[calc((100%-1rem)/2)] lg:w-[calc((100%-1rem)/2)] xl:w-[calc((100%-2rem)/3)] 2xl:w-[calc((100%-3rem)/4)] card flex gap-6 items-center">
            <div class="icon icon-primary">
                <i class="fa-solid fa-users  text-[20px]"></i>
            </div>
            <div class="card-content">
                <p class="body-bold-text">Total Leave</p>
                <h2 class="primary-heading">13</h2>
            </div>
        </div>


        <div class="card-item p-6 w-full md:w-[calc((100%-1rem)/2)] lg:w-[calc((100%-1rem)/2)] xl:w-[calc((100%-2rem)/3)] 2xl:w-[calc((100%-3rem)/4)]  card flex gap-6 items-center">
            <div class="icon icon-primary">
                <i class="fas fa-check-circle text-[20px]"></i>
            </div>
            <div class="card-content">
                <p class="body-bold-text">Approve</p>
                <h2 class="primary-heading">10</h2>
            </div>
        </div>

        <div class="card-item p-6 w-full md:w-[calc((100%-1rem)/2)] lg:w-[calc((100%-1rem)/2)] xl:w-[calc((100%-2rem)/3)] 2xl:w-[calc((100%-3rem)/4)] card flex gap-6 items-center">
            <div class="icon icon-primary">
                <i class="fas fa-ban text-[20px]"></i>
            </div>
            <div class="card-content">
                <p class="body-bold-text">Rejected</p>
                <h2 class="primary-heading">3</h2>
            </div>
        </div>
        
        <div class="card-item p-6 w-full md:w-[calc((100%-1rem)/2)] lg:w-[calc((100%-1rem)/2)] xl:w-[calc((100%-2rem)/3)] 2xl:w-[calc((100%-3rem)/4)]  card flex gap-6 items-center">
            <div class="icon icon-primary">
                <i class="far fa-clock text-[20px]"></i>
            </div>
            <div class="card-content">
                <p class="body-bold-text">Pending</p>
                <h2 class="primary-heading">2</h2>
            </div>
        </div>
    </div>
    <!-- section 2 start from here  -->
    <div class="section-3">
            <!-- Box left  -->
            <div class="card w-full">
                <div class="top-bar flex justify-between">
                    <div class="left flex items-center gap-4">
                        <div class="icon icon-primary">
                         <i class="fa-solid fa-house-person-leave text-[20px]"></i>
                         </div>
                         <h2 class="secondary-heading">Recent Leave Applications</h2>
                    </div>
                    <div class="right">
                        <a href="" class="icon icon-primary"> 
                            <i class="fa-solid fa-ellipsis-vertical text-[20px]"></i>
                        </a>
                    </div>
                </div>

                <div class="overflow-x-auto mt-3 card max-h-[300px] overflow-y-auto border">
                    <table class="text-left w-[100%]">
                        <!-- Header -->
                        <thead class="bg-[var(--primary-light)] body-bold-text border" >
                            <tr>
                            <th class=" px-4 py-3"> Srnnn No.</th>
                            <th class=" px-4 py-3"> Employee ID</th>
                            <th class=" px-4 py-3"> Employee Name</th>
                            <th class=" px-4 py-3"> Leave Type</th>
                            <th class=" px-4 py-3">From Date</th>
                            <th class=" px-4 py-3">To Date</th>
                            <th class=" px-4 py-3">Total Days</th>
                            <th class=" px-4 py-3">Applied On</th>
                            <th class=" px-4 py-3">Status</th>
                            </tr>
                        </thead>

                        <!-- Body -->
                        <tbody class="bg-[var(--light)] body-text ">
                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--success)] ">Approve</span></td>
                            </tr>
                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--warning)] ">Pending</span></td>
                            </tr>

                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--danger)] ">Rejected</span></td>
                            </tr>

                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--success)] ">Approve</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>



{% endblock %}