{% extends "dashboard/hr_dashboard/hr_base.html" %} 
{% block title %}Leave Applications {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}

<section class="container-dashboard space-y-[16px]">
    <section class="container-dashboard space-y-[16px]">
    <div class="form w-full  bg-white p-6 rounded-lg shadow-md">
        <form action="" method="" >
        <h2 class="primary-heading py-6">leave Application</h2>
            <!-- Name -->
            <div class="">
                <div class="flex flex-wrap justify-between gap-4">
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2"> Leave Type </label>
                        <select class="input">
                            <option value="">-- Select Leave Type --</option>
                            <option value="hr">Casual Leave</option>
                            <option value="it"> Sick Leave</option>
                        </select>
                    </div>

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Employee Email ID</label>
                        <input type="email" placeholder="Enter your Email" class="input" />
                    </div>

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">From Date </label>
                        <input type="date" placeholder="From Date" class="input" />
                    </div>

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">To Date</label>
                        <input type="date" placeholder="To Date" class="input" />
                    </div>
                    
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Total Days </label>
                        <input type="text" placeholder="Total Days (Auto calculate)" class="input" />
                    </div>
                    

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Leave Duration</label>
                        <select class="input">
                            <option value="">-- Leave Duration --</option>
                            <option value="hr">Full Day</option>
                            <option value="it">Half Day</option>
                        </select>
                    </div>
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Reason for Leave </label>
                        <input type="text" placeholder="Reason for Leave " class="input" />
                    </div>
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Attachment File (Medical Certificate, etc.)</label>
                        <input type="file" placeholder="Attachment (Medical Certificate, etc.)" class="input" />
                    </div>
                    
                </div>
                <!-- Button -->
                <div class="p-0 mt-4">
                    <button type="submit" class="btn btn-primary px-4">
                        Submit Details
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>



{% endblock %}