{% extends "hr_dashboard/partial/hr_base.html" %} 
{% block title %} Add Holyday {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
<section class="container-dashboard space-y-[16px]">
    <div class="form w-full  bg-white p-6 rounded-lg shadow-md">
        <form action="{% url 'add_holyday'  %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="primary-heading py-6">Add Holyday </h2>
            <div class="">
                <div class="flex flex-wrap justify-between gap-4">
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2"> Holyday Title</label>
                        <input type="text" placeholder="Holyday Title"  name="holyday_list" class="input" />
                    </div>

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Select Holiday Date</label>
                        <input type="date"  name="date" class="input" />
                    </div>
                </div>
              
                <div class="p-0 mt-4">
                    <button type="submit" class="btn btn-primary px-4">
                        Add Holyday
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}