:root{
  --primary:#6c5ffc;
  --primary-light : #f0efff;
  --text-heading:#252525;
  --text-body: #7d7f84;
  --white: #ffffff;
  --danger: #ff3a29;
  --success: #34b53a;
  --warning: #ffb200;
  --info: #10a8c7;
  --light: #f1f1f1;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');