{% extends "em_dashboard/partial/em_base.html" %} 
{% load static %}
{% block title %}Emloyee Attendance {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
<!-- Hero Section with Featured Blog Slider -->
<section class="section-custom min-h-screen flex items-center justify-center">
    <div class="w-full flex justify-center items-center">
        <div class="w-full max-w-md rounded-2xl shadow-lg p-8 space-y-6 bg-white">
            
            <div class="flex items-center justify-center mb-4">
                <div class="logo w-32"> <img src="{% static 'images/logo/logo.png' %}" alt="logo" class="w-full h-auto">
                </div>
            </div>

            <div class="text-center">
                <h2 class="secondary-heading mb-2 text-2xl font-bold"> Welcome Back, {{ request.user.username }} </h2>
                <p class="body-bold-text text-gray-500 mt-1"> 
                        Ready to start your shift?
                </p>
            </div>
            
            <div class="clock flex justify-center gap-3">
                <div class="card secondary-heading p-3 bg-[var(--primary-light)]" id="hr"> </div>
                <div class="card secondary-heading p-3 bg-[var(--primary-light)]" id="mn"> </div>
                <div class="card secondary-heading p-3 bg-[var(--primary-light)]" id="sc"> </div>
            </div>

            <div class="puntch-in flex justify-center">
    <form method="POST">
        {% csrf_token %}

        {% if not attendance or not attendance.check_in %}
            <!-- Punch In -->
            <button type="submit" name="check_in" class="small-icon icon-primary text-[40px] p-[30px]">
                <i class="fa-solid fa-fingerprint"></i>
            </button>
            <p class="body-bold-text text-center mt-3 uppercase">Punch In</p>

        {% elif not attendance.check_out %}
            <!-- Punch Out -->
            <button type="submit" name="check_out" class="small-icon icon-primary text-[40px] p-[30px]">
                <i class="fa-solid fa-fingerprint"></i>
            </button>
            <p class="body-bold-text text-center mt-3 uppercase">Punch Out</p>

        {% else %}
            <!-- Done -->
            <p class="text-green-600 font-bold">Attendance Completed ✅</p>
        {% endif %}

    </form>
</div>
            <!-- Divider -->
            <div class="flex items-center my-5">
                <div class="flex-grow border-t"></div>
                    <span class="mx-3 body-bold-text">or</span>
                <div class="flex-grow border-t"></div>
            </div>
            <!-- Social Icons -->
            <div class="social  flex justify-center gap-2">
                <a href="#" class="small-icon icon-primary"><i class="fa-brands fa-facebook text-[20px]"></i></a>
                <a href="#" class="small-icon icon-primary"><i class="fa-brands fa-x-twitter text-[20px]"></i></a>
                <a href="#" class="small-icon icon-primary"><i class="fa-brands fa-whatsapp text-[20px]"></i></a>
                <a href="#" class="small-icon icon-primary"><i class="fa-brands fa-linkedin text-[20px]"></i></a>
            </div>
        </div>
    </div>
</section>
<script>
    function updateAttendanceClock() {
        const now = new Date();
        
        let hours = now.getHours();
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');

        hours = hours % 12 || 12; 
        const formattedHours = String(hours).padStart(2, '0');

        // HTML update karna
        document.getElementById('hr').innerHTML = `${formattedHours} <span class="text-[8px] uppercase">Hours</span>`;
        document.getElementById('mn').innerHTML = `${minutes} <span class="text-[8px] uppercase">Min</span>`;
        document.getElementById('sc').innerHTML = `${seconds} <span class="text-[8px] uppercase">Sec</span>`;
    }

    setInterval(updateAttendanceClock, 1000);
    updateAttendanceClock();
</script>
{% endblock %}