{% extends "em_dashboard/partial/em_base.html" %} 
{% block title %}Employee Dashboard {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
    <section class="container-dashboard space-y-[16px]">
        <!-- top-cards section start  -->
        <div class="crads flex flex-wrap justify-start  gap-4 ">
            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee Name</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.full_name}}</h2>
                </div>
            </div>


            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-address-card  text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee ID</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.employee_id}}</h2>
                </div>
            </div>

            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-briefcase text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee Designation</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.designation}}</h2>
                </div>
            </div>
            
            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-calendar-days text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee Joining Date</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.joining_date|date}}</h2>
                </div>
            </div>


            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-envelope text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee Email</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.email}}</h2>
                </div>
            </div>


            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-phone text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee Phone</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.phone}}</h2>
                </div>
            </div>

            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-cake-candles text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text"> Employee Birthday</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.birthday|date}}</h2>
                </div>
            </div>
            
            <div class="card-item p-6 w-[calc((100%-3rem)/4)] max-xl:w-[calc((100%-2rem)/3)] max-lg:w-[calc((100%-1rem)/2)] max-sm:w-[100%]  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-mars text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Employee Gender</p>
                    <h2 class="secondary-heading text-[20px]">{{profile.gender}}</h2>
                </div>
            </div>
        </div>
       
        <!-- section 2 start from here  -->
        <div class="section-2 flex flex-wrap justify-between gap-4">
            <!-- Box left  -->
            <div class="card xl:w-[calc((100%-1rem)/2)] w-full">
                <div class="top-bar flex justify-between">
                    <div class="left flex items-center gap-4">
                        <div class="icon icon-primary">
                         <i class="fas fa-umbrella-beach text-[20px]"></i>
                         </div>
                         <h2 class="secondary-heading">Upcoming Holidays</h2>
                    </div>
                    <div class="right">
                        <a href="{% url 'em_holydays_listing'  %}" class="icon icon-primary"> 
                            <i class="fa-solid fa-up-right-from-square text-[20px]"></i>
                        </a>
                    </div>
                </div>

                <div class="overflow-x-auto mt-3 card max-h-[300px] overflow-y-auto border">
                    <table class="text-left w-[100%]">
                    <!-- Header -->
                    <thead class="bg-[var(--primary-light)] body-bold-text border" >
                        <tr>
                            <th class=" px-4 py-3"> Sr No.</th>
                            <th class=" px-4 py-3">Holiday Name</th>
                            <th class=" px-4 py-3">Date</th>
                            <th class=" px-4 py-3">Day</th>
                       </tr>
                    </thead>

                    <!-- Body -->
                    <tbody class="bg-[var(--light)] body-text ">
                        {% for holiday in holidays %}
                        <tr class="border">
                        <!-- Admin -->
                            <td class="px-4 py-3 ">{{forloop.counter}}</td>
                            <td class="px-4 py-3 ">{{holiday.date|date}}</td>
                            <td class="px-4 py-3 ">{{holiday.date|date:"l"}}</td>
                            <td class="px-4 py-3 ">{{holiday.holiday_list}}</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>

            <!-- Box right  -->
             <div class="card xl:w-[calc((100%-1rem)/2)] w-full">
                <div class="top-bar flex justify-between">
                    <div class="left flex items-center gap-4">
                        <div class="icon icon-primary">
                          <i class="fa-solid fa-person-walking-arrow-right text-[20px]"></i>
                         </div>
                         <h2 class="secondary-heading">Leave Applications Status</h2>
                    </div>
                    <div class="right">
                    <a href="{% url 'em_leaves_status' %}" class="icon icon-primary"> 
                        <i class="fa-solid fa-up-right-from-square text-[20px]"></i>
                    </a>
                </div>
                </div>

                <div class="overflow-x-auto mt-3 card max-h-[300px] overflow-y-auto border">
                    <table class="text-left w-[100%]">
                    <!-- Header -->
                        <thead class="bg-[var(--primary-light)] body-bold-text border" >
                            <tr>
                                <th class=" px-4 py-3">Sr. No.</th>
                                <th class=" px-4 py-3">Applied Date</th>
                                <th class=" px-4 py-3">From Date </th>
                                <th class=" px-4 py-3">End Date </th>
                                <th class=" px-4 py-3">Status</th>
                            </tr>
                        </thead>
                        <!-- Body -->
                        <tbody class="bg-[var(--light)] body-text ">
                            <!-- Row -->
                            {% for leave in leaves %}
                            <tr class="border">
                                <!-- Admin -->
                                <td class="px-4 py-3 ">{{forloop.counter}}</td>
                                <td class="px-4 py-3 ">{{leave.applied_at|date}}</td>
                                <td class="px-4 py-3 ">{{leave.from_date|date}}</td>
                                <td class="px-4 py-3 ">{{leave.end_date|date}}</td>
                                <td class="px-4 py-3 status ">
                                    {% if leave.status == 'pending' %}
                                        <span class="status-tag bg-[var(--warning)] ">Pending</span>
                                    {% elif leave.status == 'approved' %}
                                        <span class="status-tag bg-[var(--success)] ">Approve</span>
                                    {% else %}
                                        <span class="status-tag bg-[var(--danger)] ">Rejected</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
{% endblock %}