{% extends "em_dashboard/partial/em_base.html" %} 
{% block title %} Leave Applications {% endblock%}
{% block extra_css %}  {% endblock %} 
{% block dasboard_contetnt %}

<section class="container-dashboard space-y-[16px]">
    <section class="container-dashboard space-y-[16px]">
    <div class="form w-full  bg-white p-6 rounded-lg shadow-md">
        <form method="POST" action="{% url 'leaves_application' %}" enctype="multipart/form-data">
            {% csrf_token %}
        <h2 class="primary-heading py-6"> leave Application </h2>
            <!-- Name -->
            <div class="">
                <div class="flex flex-wrap justify-between gap-4">
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2"> Leave Type </label>
                        <select class="input" name="leave_type">
                            <option value="">-- Select Leave Type --</option>
                            <option value="Casual Leave">Casual Leave</option>
                            <option value="Sick Leave"> Sick Leave</option>
                        </select>
                    </div>

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">From Date </label>
                        <input type="date" placeholder="From Date" name="from_date" class="input" />
                    </div>

                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">End Date</label>
                        <input type="date" placeholder="To Date" name="end_date" class="input" />
                    </div>
                    
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Leave Duration</label>
                        <select class="input" name="leave_duration" required>
                            <option value="" disabled selected>-- Leave Duration --</option>
                            <option value="full_day">Full Day</option>
                            <option value="half_day">Half Day</option>
                        </select>
                    </div>
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Reason for Leave </label>
                        <input type="text" name="reason" placeholder="Reason for Leave " class="input" />
                    </div>
                    <div class="xl:w-[calc((100%-1rem)/2)] w-full">
                        <label class="body-bold-text block py-2">Attachment File (Medical Certificate, etc.)</label>
                        <input type="file" name="attach_doc" placeholder="Attachment (Medical Certificate, etc.)" class="input" />
                    </div>
                    
                </div>
                <!-- Button -->
                <div class="p-0 mt-4">
                    <button type="submit" class="btn btn-primary px-4">
                        Leave Apply
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}