
{% extends "em_dashboard/partial/em_base.html" %} 
{% load static %}
{% block title %}Employee Profile Details {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
<section class="container-dashboard space-y-[16px]">
    <div class="section-1 flex flex-wrap  gap-4">
        <!-- Box left  -->
        <div class="card flex-1 w-full sm:w-1/2 space-y-[16px]">
            <div class="top-bar flex justify-between pb-3 border-b">
                <div class="left flex items-center gap-4">
                    <div class="icon icon-primary">
                        <i class="fa-solid fa-user text-[18px]"></i>
                    </div>
                        <h2 class="secondary-heading">Personal Information</h2>
                </div>
            </div>

            <div class="details flex flex-wrap flex-row gap-4 ">
                <div class="img flex-1">
                    {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url  }}" alt="" width="230px"  class="border">
                    {% endif %}
                </div>
                <div class="detaildata flex-1 space-y-2 ">
                    <p class="body-bold-text text-[18px] p-1 border-b">Name: <span class="body-text">{{profile.full_name}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Employee ID: <span class="body-text">{{profile.employee_id}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Designation: <span class="body-text">{{profile.designation}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Date of Joining: <span class="body-text">{{profile.joining_date}}</span></p>
                </div>
                <div class="detaildata  flex-1 space-y-2 ">
                    <p class="body-bold-text text-[18px] p-1 border-b">Phone: <a href="tel:{{profile.phone}}" class="body-text text-link">{{profile.phone}}</a></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Email: <a href="mailto:{{profile.email}}" class="body-text text-link">{{profile.email}}</a></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Birthday:<span class="body-text">{{profile.birthday}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Gender: <span class="body-text">{{profile.gender}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Address: <span class="body-text">{{profile.address}}</span></p>
                </div>
            </div>  
        </div>

        <!-- Box right  -->
        <div class="card flex-1 w-full sm:w-1/2 space-y-[16px]">
            <div class="top-bar flex justify-between pb-3 border-b">
                <div class="left flex items-center gap-4">
                    <div class="icon icon-primary">
                        <i class="fa-solid fa-phone text-[18px]"></i>
                    </div>
                        <h2 class="secondary-heading">Emergency Contact</h2>
                </div>
            </div>

            <div class="details flex flex-wrap flex-row gap-4 ">
                <div class="detaildata flex-1  space-y-2 ">
                    <h2 class="secondary-heading border-b p-1">Primary Contact</h2>
                    <p class="body-bold-text text-[18px] p-1 border-b">Name:<span class="body-text">{{profile.primary_name}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Relationship:<span class="body-text">{{profile.primary_relation}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Phone: <a href="tel:{{profile.primary_phone}}" class="body-text text-link">+{{profile.primary_phone}}</a></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Email: <a href="mailto:{{profile.primary_email}}" class="body-text text-link">{{profile.primary_email}}</a></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Address: <span class="body-text">{{profile.primary_address}}</span></p>
                </div>
                  <div class="detaildata flex-1 space-y-2 ">
                    <h2 class="secondary-heading border-b p-1">Secondary  Contact</h2>
                    <p class="body-bold-text text-[18px] p-1 border-b">Name:<span class="body-text">{{profile.secondary_name}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Relationship:<span class="body-text">{{profile.secondary_relation}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Phone: <a href="tel:{{profile.secondary_phone}}" class="body-text text-link">{{profile.secondary_phone}}</a></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Email: <a href="mailto:{{profile.secondary_email}}" class="body-text text-link">{{profile.secondary_email}}</a></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Address: <span class="body-text">{{profile.secondary_address}}</span></p>
                </div>
            </div>  
        </div>
    </div>
 <!-- start Section 2 from here  -->
    <div class="section-1 flex flex-wrap justify-between gap-4">
            <!-- Box left  -->
        <div class="card flex-1 w-full sm:w-1/2 space-y-[16px]">
            <div class="top-bar flex justify-between pb-3 border-b">
                <div class="left flex items-center gap-4">
                    <div class="icon icon-primary">
                        <i class="fa-solid fa-building-columns text-[18px]"></i>
                    </div>
                        <h2 class="secondary-heading">Bank Account</h2>
                </div>
            </div>

            <div class="details gap-4 ">
                <div class="detaildata  space-y-2 ">
                    <p class="body-bold-text text-[18px] p-1 border-b">Account Holder Name:: <span class="body-text">{{profile.account_holder}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Account Number: <span class="body-text">{{profile.account_number}}</span></p>
                    <p class="body-bold-text  xt text-[18px] p-1 border-b">Bank Name: <span class="body-text">{{profile.bank_name}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">Branch Name: <span class="body-text">{{profile.branch_name}}</span></p>
                    <p class="body-bold-text text-[18px] p-1 border-b">IFSC Code: <span class="body-text">{{profile.ifsc_code}}</span></p>
                </div>
            </div>  
        </div>
        <!-- Box right  -->
    </div>

</section>
{% endblock %}