<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand-primary" href="{% url 'home' %}">
            <i class="fas fa-blog"></i> Blogify
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post-listing' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">shop</a>
                </li>
                
            </ul>
            <form class="search-form me-3 d-none d-lg-flex">
                <input type="search" class="form-control" placeholder="Search Artic...">
                <button class="search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="user-profile">
                <!-- User Image - Commented out for now -->
                <img src="https://avatars.githubusercontent.com/u/122798539?v=4" alt="User" class="user-image"> 
                
                <!-- User Icon - Active 
                <div class="user-icon">
                    <i class="fas fa-user"></i>
                </div>
                -->
            </div>
        </div>
    </div>
</nav>