{% extends "base.html" %} 
{% load static %} 
{% block title %}HR Dashboard {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
    <section class="container-dashboard space-y-[16px]">
        <!-- top-cards section start  -->
        <div class="crads flex flex-wrap justify-between gap-4 ">
            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-users  text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>


            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-users  text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>

            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>
            
            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>


            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>


            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>

            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>
            
            <div class="card-item p-6 xl:w-[calc((100%-3rem)/4)] lg:w-[calc((100%-1rem)/2)] md:w-[calc((100%-1rem)/2)] w-full  card flex gap-6 items-center">
                <div class="icon icon-primary">
                    <i class="fa-solid fa-user text-[20px]"></i>
                </div>
                <div class="card-content">
                    <p class="body-bold-text">Total Employee</p>
                    <h2 class="primary-heading">313</h2>
                </div>
            </div>
        </div>
       
        <!-- section 2 start from here  -->
        <div class="section-2 flex flex-wrap justify-between gap-4">
            <!-- Box left  -->
            <div class="card xl:w-[calc((100%-1rem)/2)] w-full">
                <div class="top-bar flex justify-between">
                    <div class="left flex items-center gap-4">
                        <div class="icon icon-primary">
                         <i class="fas fa-umbrella-beach text-[20px]"></i>
                         </div>
                         <h2 class="secondary-heading">Upcoming Holidays</h2>
                    </div>
                    <div class="right">
                        <a href="" class="icon icon-primary"> 
                            <i class="fa-solid fa-ellipsis-vertical text-[20px]"></i>
                        </a>
                    </div>
                </div>

                <div class="overflow-x-auto mt-3 card max-h-[300px] overflow-y-auto border">
                    <table class="text-left w-[100%]">
                    <!-- Header -->
                    <thead class="bg-[var(--primary-light)] body-bold-text border" >
                        <tr>
                        <th class=" px-4 py-3"> Sr No.</th>
                        <th class=" px-4 py-3">Holiday Name</th>
                        <th class=" px-4 py-3">Date</th>
                        <th class=" px-4 py-3">Day</th>
                        </tr>
                    </thead>

                    <!-- Body -->
                    <tbody class="bg-[var(--light)] body-text ">
                        <!-- Row -->
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">Holi</td>
                        <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                        <td class="px-4 py-3 ">Monday</td>
                        </tr>
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">Holi</td>
                        <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                        <td class="px-4 py-3 ">Monday</td>
                        </tr>
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">Holi</td>
                        <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                        <td class="px-4 py-3 ">Monday</td>
                        </tr>
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">Holi</td>
                        <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                        <td class="px-4 py-3 ">Monday</td>
                        </tr>
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">Holi</td>
                        <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                        <td class="px-4 py-3 ">Monday</td>
                        </tr>
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">Holi</td>
                        <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                        <td class="px-4 py-3 ">Monday</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>

            <!-- Box right  -->
             <div class="card xl:w-[calc((100%-1rem)/2)] w-full">
                <div class="top-bar flex justify-between">
                    <div class="left flex items-center gap-4">
                        <div class="icon icon-primary">
                         <i class="fa-solid fa-briefcase text-[20px]"></i>
                         </div>
                         <h2 class="secondary-heading">Newly Joined Employees</h2>
                    </div>
                    <div class="right">
                        <a href="" class="icon icon-primary">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>
                    </div>
                </div>

                <div class="overflow-x-auto mt-3 card max-h-[300px] overflow-y-auto border">
                    <table class="text-left w-[100%]">
                    <!-- Header -->
                    <thead class="bg-[var(--primary-light)] body-bold-text border" >
                        <tr>
                        <th class=" px-4 py-3">Sr No.</th>
                        <th class=" px-4 py-3">Employee ID</th>
                        <th class=" px-4 py-3">Employee Name</th>
                        <th class=" px-4 py-3">Department </th>
                        <th class=" px-4 py-3">Joinning Date </th>
                        
                        </tr>
                    </thead>

                    <!-- Body -->
                    <tbody class="bg-[var(--light)] body-text ">
                        <!-- Row -->
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">EMID001</td>
                        <td class="px-4 py-3 ">Employee 1</td>
                        <td class="px-4 py-3 ">IT</td>
                        <td class="px-4 py-3 ">14JAN2026</td>
                        </tr>
                         <!-- Row -->
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">EMID001</td>
                        <td class="px-4 py-3 ">Employee 1</td>
                        <td class="px-4 py-3 ">IT</td>
                        <td class="px-4 py-3 ">14JAN2026</td>
                        </tr>
                         <!-- Row -->
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">EMID001</td>
                        <td class="px-4 py-3 ">Employee 1</td>
                        <td class="px-4 py-3 ">IT</td>
                        <td class="px-4 py-3 ">14JAN2026</td>
                        </tr>
                         <!-- Row -->
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">EMID001</td>
                        <td class="px-4 py-3 ">Employee 1</td>
                        <td class="px-4 py-3 ">IT</td>
                        <td class="px-4 py-3 ">14JAN2026</td>
                        </tr>
                         <!-- Row -->
                        <tr class="border">
                        <!-- Admin -->
                        <td class="px-4 py-3 ">1</td>
                        <td class="px-4 py-3 ">EMID001</td>
                        <td class="px-4 py-3 ">Employee 1</td>
                        <td class="px-4 py-3 ">IT</td>
                        <td class="px-4 py-3 ">14JAN2026</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

         <!-- section 3 start from here  -->
        <div class="section-3">
            <!-- Box left  -->
            <div class="card w-full">
                <div class="top-bar flex justify-between">
                    <div class="left flex items-center gap-4">
                        <div class="icon icon-primary">
                            <i class="fa-solid fa-person-walking-arrow-right text-[20px]"></i>
                         </div>
                         <h2 class="secondary-heading">Recent Leave Applications</h2>
                    </div>
                    <div class="right">
                        <a href="" class="icon icon-primary"> 
                            <i class="fa-solid fa-ellipsis-vertical text-[20px]"></i>
                        </a>
                    </div>
                </div>

                <div class="overflow-x-auto mt-3 card max-h-[300px] overflow-y-auto border">
                    <table class="text-left w-[100%]">
                        <!-- Header -->
                        <thead class="bg-[var(--primary-light)] body-bold-text border" >
                            <tr>
                            <th class=" px-4 py-3"> Sr No.</th>
                            <th class=" px-4 py-3"> Employee ID</th>
                            <th class=" px-4 py-3"> Employee Name</th>
                            <th class=" px-4 py-3"> Leave Type</th>
                            <th class=" px-4 py-3">From Date</th>
                            <th class=" px-4 py-3">To Date</th>
                            <th class=" px-4 py-3">Total Days</th>
                            <th class=" px-4 py-3">Applied On</th>
                            <th class=" px-4 py-3">Status</th>
                            </tr>
                        </thead>

                        <!-- Body -->
                        <tbody class="bg-[var(--light)] body-text ">
                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--success)] ">Approve</span></td>
                            </tr>
                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--warning)] ">Pending</span></td>
                            </tr>

                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--danger)] ">Rejected</span></td>
                            </tr>

                            <!-- Row -->
                            <tr class="border">
                            <!-- Admin -->
                            <td class="px-4 py-3 ">1</td>
                            <td class="px-4 py-3 ">EMID001</td>
                            <td class="px-4 py-3 ">Employee 1</td>
                            <td class="px-4 py-3 ">Casual Leave </td>
                            <td class="px-4 py-3 ">12Feb2026 </td>
                            <td class="px-4 py-3 ">18Feb2026 </td>
                            <td class="px-4 py-3 ">8 Days</td>
                            <td class="px-4 py-3 ">6Feb2026 </td>
                            <td class="px-4 py-3 status   "> <span class="status-tag bg-[var(--success)] ">Approve</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>
{% endblock %}