{% extends "base.html" %} 
{% load static %} 
{% block title %}HR Dashboard {% endblock%}
{% block extra_css %} {% endblock %} 
{% block dasboard_contetnt %}
<section class="section-custom py-24">
  <div class="container-custom button">
    <h1 class="primary-heading text-[var(--primary)] pb-5">
      Our All Buttons Design
    </h1>

    <a href="#" class="btn btn-primary"> Primary Btn</a>
    <a href="#" class="btn btn-secondary"> Primary Btn</a>
    <a href="#" class="btn btn-info"> Info Btn</a>
    <a href="#" class="btn btn-danger"> Danger Btn</a>
    <a href="#" class="btn btn-success"> Success Btn</a>
    <a href="#" class="btn btn-warning"> Warning Btn</a>
  </div>

  <div class="container-custom mt-[40px]">
    <h1 class="primary-heading text-[var(--primary)] pb-5">
      Our Headings Design
    </h1>
    <h1 class="primary-heading">Primary Heading</h1>
    <p class="secondary-heading">Secondary Heading</p>
    <p class="body-bold-text">Body Bold text</p>
    <p class="body-text">Body Bold text</p>
  </div>

  <div class="container-custom mt-[40px]">
    <h1 class="primary-heading text-[var(--primary)] pb-5">Our Card Design</h1>
    <div class="card">
      <p class="body-bold-text">Body Bold text</p>
      <p class="body-text">Body Bold text</p>
    </div>
  </div>

  <div class="container-custom mt-[40px]">
    <h1 class="primary-heading text-[var(--primary)] pb-5">
      Icons Design like this
    </h1>
    <a href="#" class="icon icon-primary">
      <i class="fa-regular fa-eye"> </i>
    </a>
  </div>

  <div class="container-custom mt-[40px]">
    <h1 class="primary-heading text-[var(--primary)] pb-5">
      Link text like this
    </h1>
    <a href="#" class="text-link"> Text Link Here </a>
  </div>

  <div class="container-custom mt-[40px] p-10">
    <h1 class="primary-heading text-[var(--primary)] pb-5">Our Form Design</h1>

    <div class="card flex items-center justify-center bg-gray-100 py-10">
      <form
        class="w-full max-w-[900px] mx-auto bg-white p-6 rounded-lg shadow-md"
      >
        <h2 class="primary-heading py-6">Contact Form</h2>

        <!-- Name -->
        <div class="flex flex-wrap justify-between gap-4">
          <div class="w-full lg:w-[48%]">
            <label class="body-bold-text block py-2">Full Name</label>
            <input type="text" placeholder="Enter your name" class="input" />
          </div>

          <div class="w-full lg:w-[48%]">
            <label class="body-bold-text block py-2">User Email</label>
            <input type="email" placeholder="Enter your Email" class="input" />
          </div>

          <div class="w-full lg:w-[48%]">
            <label class="body-bold-text block py-2">User Telephone </label>
            <input
              type="text"
              placeholder="Enter your telephone"
              class="input"
            />
          </div>

          <div class="w-full lg:w-[48%]">
            <label class="body-bold-text block py-2">Message</label>
            <input type="text" placeholder="Drop  Message" class="input" />
          </div>
        </div>

        <!-- Button -->
        <div class="p-0 mt-4">
          <button type="submit" class="btn btn-primary px-4">
            Submit Form
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container-custom mt-[40px] p-10">
    <h1 class="primary-heading text-[var(--primary)] pb-5">Table Design</h1>
    <!--  table start form here  -->
      <div class="card w-full mx-auto " >
        <h2 class="primary-heading py-6">Table Heading </h2>
        <!-- Table Container -->
         <div class="overflow-x-auto card">
            <table class="text-left">
              <!-- Header -->
              <thead class="bg-[var(--primary-light)] body-bold-text border" >
                <tr>
                  <th class=" px-4 py-3">Name</th>
                  <th class=" px-4 py-3">Designation</th>
                  <th class=" px-4 py-3">Leave Type</th>
                  <th class=" px-4 py-3">Duration</th>
                  <th class=" px-4 py-3">Days</th>
                  <th class=" px-4 py-3">Reason</th>
                  <th class=" px-4 py-3">Email</th>
                  <th class=" px-4 py-3">Mobile</th>
                  <th class=" px-4 py-3">Status</th>
                  <th class=" px-4 py-3">Action</th>
                </tr>
              </thead>

              <!-- Body -->
              <tbody class="bg-[var(--light)] body-text ">
                <!-- Row -->
                <tr class="border">
                  <!-- Admin -->
                  <td class="px-4 py-3 ">User</td>
                  <td class="px-4 py-3 ">IT Support Specialist</td>
                  <td class="px-4 py-3 ">Compassionate Leave</td>
                  <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                  <td class="px-4 py-3 ">5 Days</td>
                  <td class="px-4 py-3 ">Family Illness</td>
                  <td class="px-4 py-3 ">Email</td>
                  <td class="px-4 py-3 ">63---8938</td>

                  <!-- Status -->
                    <td class="status">
                       <span class="status-tag bg-[var(--danger)] ">Rejected</span>
                  </td>

                  <!-- Action -->
                  <td class="px-4 py-3 flex gap-2">
                    <a href="#" class="btn-small btn-success"><i class="fa-solid fa-pen"></i></a>
                    <a href="#" class="btn-small btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                  </td>
                </tr>

                <tr class="border">
                  <!-- Admin -->
                  <td class="px-4 py-3 ">User</td>
                  <td class="px-4 py-3 ">IT Support Specialist</td>
                  <td class="px-4 py-3 ">Compassionate Leave</td>
                  <td class="px-4 py-3 ">01 Nov - 05 Nov</td>
                  <td class="px-4 py-3 ">5 Days</td>
                  <td class="px-4 py-3 ">Family Illness</td>
                  <td class="px-4 py-3 ">Email</td>
                  <td class="px-4 py-3 ">63---8938</td>


                  <!-- Status -->
                   <td class="status">
                       <span class="status-tag bg-[var(--success)] ">Approved</span>
                  </td>

                  <!-- Action -->
                  <td class="px-4 py-3 flex gap-2">
                    <a href="#" class="btn-small btn-success"><i class="fa-solid fa-pen"></i></a>
                    <a href="#" class="btn-small btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="pagination flex justify-end gap-2 mt-7">
              <a href="#" class="btn-small btn-primary"><i class="fa-solid fa-angles-left"></i></a>
              <a href="#" class="btn-small btn-secondary ">1</a>
              <a href="#" class="btn-small btn-secondary ">2</a>
              <a href="#" class="btn-small btn-secondary ">3</a>
              <a href="#" class="btn-small btn-secondary ">4</a>
              <a href="#" class="btn-small btn-primary"><i class="fa-solid fa-angles-right"></i></a>
            </div>
         </div>
        </div>
     </div>
</section>
{% endblock %} 
{% block footer %} {% endblock %}
